@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <form class="d-flex justify-content-center mb-4">
        <input class="form-control w-50" type="search" placeholder="Zoeken..." aria-label="Zoeken">
        <button class="btn btn-primary ms-2" type="submit">Zoek</button>
    </form>
    <h1>Welkom bij Matrix Inc!</h1>
</div>